<!Doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Booshalla</title>
      <!-- Link to stylesheet -->
      <link href="./index.css" rel="stylesheet">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    </head>
  <body>
    <script>
       $(document).ready(function() {

         $("#subscribe-form").on('submit', function(e) {
           e.preventDefault();
           var form = $(this)

           $.ajax({
             type: "POST",
             url: '/subscribers',
             data: form.serialize(),
             success: function(data) {
               form.hide()
               $('.success-form').show()
               $('.fail-form').hide()

             },
           })
           $('.fail-form').show()
         })

       });
       </script>
    <div class='main'>
      <h3 class='title'> BOOSHALLA</h3>
      <p> Subsribe to get the details of our next event straight to your inbox! </p>
      <br>
      <p class="fail-form"> Something went wrong. :( Try again or email admin@booshalla.com</p>

      <form id="subscribe-form">
        <ul class="errorMessages"></ul>
        <input type='text' name='name' placeholder="Name"/>
        <input type='text' name='email' placeholder="Email" required />
        <br>
        <input type='submit'/>
      </form>
      <p class="success-form"> Thanks for subscribing!</p>
    </div>
  </body>
</html>
