body {
  background: black;
  color:white
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  color: white;
  font-size: 6vh;
}


#subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
}

input {
  text-align: center;
}


.fail-form {
  display: none;
  color:red;
}

.success-form {
  display:none;
}
